.slick-dots {
bottom: 60px;
left: -280px;
}
.slick-dots li.slick-active button:before{
    color: #261FB3;
}
.slick-prev{
    display: none !important;
}
.slick-next{
    display: none !important;
}
@media (max-width:428px) {
    .slick-dots{
        bottom: 10px !important;
    }
}